<article class="event-card">
  <div class="event-card__grid">
    {% if node.label %}
      <h1 class="event-card__title">{{ node.label }}</h1>
    {% endif %}
    {% if content.field_image %}
      <div class="event-card__image">
        {{ content.field_image }}
      </div>
    {% endif %}

    <div class="event-card__details">

      <p><strong>Date:</strong> {{ node.field_start_time.value|format_date('short_date', 'd/m/y') }}</p>
      <p>
        <strong>Time:</strong>
        {% if node.field_start_time and content.field_end_time %}
          {{ node.field_start_time.value|date('g:ia') }} - {{ node.field_end_time.value|date('g:ia') }}
        {% else %}
          {{ node.field_start_time.value|date('g:ia') }}
        {% endif %}
      </p>
  
      {% set public_location = node.field_location_is_public.value and node.field_location_is_public.value == '1' %}
      {% set is_member = 'member' in user.getroles() %}
      {% set location = (public_location or is_member) ? node.field_location.value : 'Log In or Contact Organizer For Location'  %}
      
      <p><strong>Location:</strong> {{ location }}</p>
      
      {% set links = calendar_links(node.label, 
        node.field_start_time.value|format_date('html_datetime'), 
        node.field_end_time.value|format_date('html_datetime'), 
        false, 
        node.field_description.value, 
        location) 
      %}
      
      <p><strong>Calendar Reminders:</strong></p>
      <div class="event-card__calendar-links">
          <a href="{{ links['google'].url }}" class="calendar-link-{{ links['google'].type_key }}" target="_blank" aria-label="Add to Google Calendar">
            <img src="/{{ directory }}/images/google-logo.webp" alt="Google Calendar" />
          </a>
          <a href="{{ links['ics'].url }}" class="calendar-link-{{ links['ics'].type_key }}" target="_blank" aria-label="Add to Apple Calendar" download="{{ node.label }}.ics">
            <img src="/{{ directory }}/images/apple-logo.webp" alt="Apple Calendar" />
          </a>
          <a href="{{ links['webOffice'].url }}" class="calendar-link-{{ links['webOffice'].type_key }}" target="_blank" aria-label="Add to Outlook">
            <img src="/{{ directory }}/images/windows-logo.webp" alt="Outlook Calendar (Microsoft)" />
          </a>
          <a href="{{ links['ics'].url }}" class="calendar-link-{{ links['ics'].type_key }}" target="_blank" download="{{ node.label }}.ics">Other Calendar Download</a>
      </div>
          
      
    </div>
    {% if content.field_description %}
      <div class="event-card__description">
        {{ content.field_description }}
      </div>
    {% endif %}
  </div>



  
</article>