<article class="event-card">
  <div class="event-card__grid">
    {% if content.field_image %}
      <div class="event-card__image">
        {{ content.field_image }}
      </div>
    {% endif %}

    <div class="event-card__details">
      {% if label %}
        <h3 class="event-card__title">{{ label }}</h3>
      {% endif %}

      <p><strong>Date:</strong> {{ content.field_start_time[0]['#text']|split(' - ')[0] }}</p>
      <p>
        <strong>Time:</strong>
        {% if content.field_start_time and content.field_end_time %}
          {{ content.field_start_time[0]['#text']|split(' - ')[1] }} - {{ content.field_end_time[0]['#text']|split(' - ')[1] }}
        {% else %}
          {{ content.field_start_time[0]['#text']|split(' - ')[1] }}
        {% endif %}
      </p>
  
      {% set location = content.field_location_is_public and content.field_location_is_public['#items'].value == '1' ? content.field_location : 'Contact Organizer For Location'  %}
      
      <p><strong>Location:</strong> {{ location }}</p>
      
      {% set links = calendar_links(node.label, 
        content.field_start_time[0]['#attributes']['datetime']|split('+')[0] ~ '-05:00', 
        content.field_end_time[0]['#attributes']['datetime']|split('+')[0] ~ '-05:00', 
        false, 
        content.field_description, 
        location) 
      %}
      
      <p><strong>Calendar Reminders:</strong></p>
      <div class="event-card__calendar-links">
          <a href="{{ links['google'].url }}" class="calendar-link-{{ links['google'].type_key }}" target="_blank" aria-label="Add to Google Calendar">
            <img src="/{{ directory }}/images/google-logo.webp" alt="Google Calendar" />
          </a>
          <a href="{{ links['ics'].url }}" class="calendar-link-{{ links['ics'].type_key }}" target="_blank" aria-label="Add to Apple Calendar" download="{{ node.label }}.ics">
            <img src="/{{ directory }}/images/apple-logo.webp" alt="Apple Calendar" />
          </a>
          <a href="{{ links['webOffice'].url }}" class="calendar-link-{{ links['webOffice'].type_key }}" target="_blank" aria-label="Add to Outlook">
            <img src="/{{ directory }}/images/windows-logo.webp" alt="Outlook Calendar (Microsoft)" />
          </a>
          <a href="{{ links['ics'].url }}" class="calendar-link-{{ links['ics'].type_key }}" target="_blank" download="{{ node.label }}.ics">Other Calendar Download</a>
      </div>
          
      
    </div>
  </div>



  {% if content.field_description %}
    <div class="event-card__description">
      {{ content.field_description }}
    </div>
  {% endif %}
</article>