<div class="card-compounding" >
  {% if user.field_profile_photo.value %}
    {{ content.field_profile_photo }}
  {% else %}
    <img src="/{{ directory }}/images/user_placeholder.png" />
  {% endif %}
  <div class="info">
      <h2>{{ user.field_first_name.value }}<br>{{ user.field_last_name.value }}</h2>
      <div class="subtitle">{{ user.field_role.value ? user.field_role.value : 'Member' }}</div>
      {% if user.field_promo.0 %}
        <a href="{{ user.field_promo.0.url }}" target='_blank'>{{ user.field_promo.0.title }}</a>
      {% endif %}
  </div>
  <div class="body">
    {{ user.field_bio.value }}
  </div>


</div>
